In [1]:
from BOJScraper import BOJScraper

In [2]:
bojs = BOJScraper()

In [3]:
df = bojs.getData(2005, 2017)

In [4]:
df.head()

,東京市場 ドル・円 スポット 9時時点,東京市場 ドル・円 スポット 最高値,東京市場 ドル・円 スポット 最安値,東京市場 ドル・円 スポット 17時時点,東京市場 ドル・円 スポット 中心相場,東京市場 ドル・円 スポット出来高,東京市場 ドル・円 スワップ出来高,東京市場 ユーロ・ドル スポット 9時時点,東京市場 ユーロ・ドル スポット 最高値,東京市場 ユーロ・ドル スポット 最安値,...,4,5,6,7,8,9,10,11,12,isFiveTen
date,,,,,,,,,,,,,,,,,,,,,
2005-01-04,102.76,102.91,102.45,102.57,102.75,7578.0,26216.0,1.3466,1.3497,1.3444,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2005-01-05,104.35,104.88,104.25,104.74,104.40,10368.0,25983.0,1.3279,1.3295,1.3238,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2005-01-06,103.94,104.80,103.89,104.59,104.00,11990.0,26589.0,1.3277,1.3283,1.3198,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2005-01-07,104.91,105.06,104.47,104.59,104.57,9173.0,33282.0,1.3182,1.3205,1.3167,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2005-01-11,104.19,104.33,103.80,104.03,104.00,8426.0,25451.0,1.3108,1.3147,1.3068,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0