In [1]:
from BOJScraper import BOJScraper

In [2]:
# Get USDJPY historical data
bojs_usd = BOJScraper(currency='USD')
df_usd = bojs_usd.getData(2000, 2018)
df_usd.tail()

,東京市場 ドル・円 スポット 9時時点,東京市場 ドル・円 スポット 最高値,東京市場 ドル・円 スポット 最安値,東京市場 ドル・円 スポット 17時時点,東京市場 ドル・円 スポット 中心相場,東京市場 ドル・円 スポット出来高,東京市場 ドル・円 スワップ出来高
date,,,,,,,
2018-04-25,108.81,109.27,108.79,109.26,109.18,9412.0,58969.0
2018-04-26,109.38,109.48,109.22,109.33,109.37,6567.0,53809.0
2018-04-27,109.31,109.49,109.15,109.40,109.31,8455.0,54308.0
2018-05-01,109.32,109.48,109.25,109.48,109.30,3935.0,59353.0
2018-05-02,109.87,109.92,109.65,109.79,109.83,5252.0,56518.0

In [3]:
# Get EURUSD historical data
bojs_eur = BOJScraper(currency='EUR')
df_eur = bojs_eur.getData(2000, 2018)
df_eur.tail()

,東京市場 ユーロ・ドル スポット 9時時点,東京市場 ユーロ・ドル スポット 最高値,東京市場 ユーロ・ドル スポット 最安値,東京市場 ユーロ・ドル スポット 17時時点,東京市場 ユーロ・ドル スポット出来高,東京市場 ユーロ・ドル スワップ出来高
date,,,,,,
2018-04-25,1.2237,1.2238,1.2188,1.2189,2099.0,14658.0
2018-04-26,1.2171,1.2188,1.2159,1.2165,3983.0,18880.0
2018-04-27,1.2108,1.2116,1.2065,1.2076,3012.0,14225.0
2018-05-01,1.2081,1.2084,1.2055,1.2058,1531.0,14546.0
2018-05-02,1.1992,1.2030,1.1988,1.2018,1713.0,18734.0